@import "variables.css";

#show-more {
  bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  left: 45vw;
  position: fixed;
  transition: 0.5s;
  z-index: 1000;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  /*display: none;*/
}
/*#elemento {
  -webkit-box-reflect: below -2px linear-gredient(to bottom, transparent) rgba(0, 0, 0, 0.8);
}*/

#btn-back-to-top {
  bottom: 37px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  right: 20px;
  transition: 0.5s;
  z-index: 1000;
}
#btn-back-to-top:hover {
  transform: translate(0, -10%);
}

.contenido {
  bottom: 0%;
  left: 0%;
  position: fixed;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
  /*width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;*/
}

.contenido.detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contenido.detail h2 {
  color: #444;
  font-size: 1.6em;
  font-weight: bolder;
}

.contenido.detail h2 span {
  color: #03a9f4;
  font-size: 0.7em;
  font-weight: bold;
}

.sci {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.sci li {
  list-style: none;
  margin-bottom: 5px;
}

.sci li a {
  align-items: center;
  background: transparent;
  background: white;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: black;
  display: flex;
  font-size: 1.5em;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
  width: 45px;
}

.sci li a:hover {
  /*background: #03a9f4;*/
  color: #fff;
}

.detail ul li a:hover {
  transform: translate(0, -10%);
}

.detail ul li:nth-child(1) a:hover {
  background-color: black;
}

.detail ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}

.detail ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}

/*.detail ul li:nth-child(4) a:hover {
  background-color: green;
}*/

/*BOTON QUE SE EXPANDE*/
button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}

button.learn-more {
  height: auto;
  width: 0px;
}

button.learn-more .circle {
  /*background: #bb86fc;*/
  background: var(--accent-color);
  border-radius: 1.625rem;
  display: block;
  height: 3rem;
  margin: 0;
  position: relative;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  width: 3rem;
}

button.learn-more .circle .arrow {
  background: none;
  left: 1.15rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

button.learn-more .button-text {
  bottom: 0;
  color: #282936;
  font-weight: 700;
  left: 0;
  line-height: 1.6;
  margin: 0 0 0 1.85rem;
  padding: 0.75rem 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

button:hover .circle {
  width: 150px;
}

button:hover .button-text {
  color: white;
  display: block;
}
.button-text {
  display: none;
  width: 125px;
}
.sci li a:hover {
  /*background: #03a9f4;*/
  color: white;
}
.fa-angle-right {
  color: white;
  transform: scale(1.3);
}
