/*NAVBAR*/
nav{
    transition:all 0.5s;
}
.sombranav {
        box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.padding-header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

.progress{
    width: 94%;
    height: 3px;
    position: absolute;
    bottom:0;
    left:3%;
    right:3%;
    background-color: transparent;
}
.progress-bar {
    background: #FACA2C;
/*FFC107*/
    width: 0%;
}