/*NAVBAR*/
nav{
    transition:all 0.5s;
}
.sombranav {
        box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.padding-header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}
.dropdown-item.activo {
    background-color: #faca2c;
    color: white;
}
.dropdown-itemactivo:active {
  background-color: red; /* replace with desired color */
}