button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}

button.learn-more {
  height: auto;
  width: 9rem;
}

button.learn-more .circle {
  background: #45287a;
  border-radius: 1.625rem;
  display: block;
  height: 3rem;
  margin: 0;
  position: relative;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  width: 3rem;
}

button.learn-more .circle .icon {
  background: #fff;
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

button.learn-more .circle .icon.arrow {
  background: none;
  height: 0.125rem;
  left: 0.625rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  width: 1.125rem;
}

button.learn-more .circle .icon.arrow::before {
  border-right: 0.125rem solid #fff;
  border-top: 0.125rem solid #fff;
  content: "";
  height: 0.625rem;
  position: absolute;
  right: 0.0625rem;
  top: -0.29rem;
  transform: rotate(45deg);
  width: 0.625rem;
}

button.learn-more .button-text {
  bottom: 0;
  color: #282936;
  font-weight: 700;
  left: 0;
  line-height: 1.6;
  margin: 0 0 0 1.85rem;
  padding: 0.75rem 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

button:hover .circle {
  width: 100%;
}

button:hover .button-text {
  color: #fff;
  display: block;
}
.button-text {
  display: none;
}
/*MOOVING TITLE*/
    .content {
      text-align: center;
    }
    .content span {
      display: inline-block;
      text-transform: uppercase;
      width: 3rem;
    }
/*SKILLS*/

.skills {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  color: #07374a;
  margin-bottom: 8px;
}

.skills-bar .bar .progress-line {
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  background: #f0f0f0;
  border-radius: 10px;
  height: 10px;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  width: 550px;
}

.bar .progress-line span {
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  background: #25b79f;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*text-transfrom: uppercase;*/
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 62%;
}
.progress-line .c {
  width: 90%;
}

.bar .progress-line span::before {
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #07374a;
  border-top-style: #f0f0f0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: -14px;
  width: 0;
}

.bar .progress-line span::after {
  background: #07374a;
  border-radius: 3px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  padding: 1px 8px;
  position: absolute;
  right: 0;
  top: -28px;
}

.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "62%";
}
.progress-line .c::after {
  content: "90%";
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
  .skills {
    width: 80%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }
}
