main {
  margin-top: 4rem;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
/*.card-bar {
  text-align: left;
}*/
.card {
  align-content: center;
  align-items: center; /* centers the content along the cross axis */
  border: 1px solid #ccc;
  border: 0;
  border-radius: 0;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  flex: 1 0 18%;
  height: 120px;
  margin: 10px;
  margin-bottom: 1.5em;
  max-width: 200px;
  min-width: 180px;
  transition: all 0.2s ease-in-out;
  /*Antiguamente estas dos estaban en card-skill*/
  display: flex;
  justify-content: center;
}

.card.small {
  align-items: unset;
  height: 80px;
}

.one-per-row {
  min-width: 90%;
}
.oculto {
  display: none; /*Para el icono de la carta*/
}
/*Toda la wea de los porcentajes y cositas asi*/
.skills-bar .bar {
  margin: 15px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
}

.skills-bar .bar .progress-line {
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  background: #f0f0f0;
  border-radius: 8px;
  height: 10px;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
}

.bar .progress-line span {
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  background: rgb(63, 63, 63);
  border-radius: 10px;
  height: 100%;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
}
.dark .skills-bar .bar .progress-line {
  background: gray;
}
.dark .bar .progress-line span {
  background: white;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span::before {
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  border-top-style: #f0f0f0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: -14px;
  width: 0;
}

.bar .progress-line span::after {
  background: black;
  border-radius: 15px 15px 5px 15px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  padding: 1px 8px;
  position: absolute;
  right: 0;
  top: -28px;
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
  .skills {
    width: 80%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }
}
