@import "variables.css";

body.dark {
  background-color: var(--dark-primary);
  color: var(--light-primary);
}

/*.icono-sol,
.dark-mode-iconUser,
.dark-mode-header {
  transition: all 0.75s;
}*/
.dark #navTop {
  background-color: var(--dark-secondary);
  color: var(--light-primary);
}
.light #navTop {
  background-color: var(--light-primary);
  color: var(--dark-primary);
}
.dark .nav-link,
.dark .nav-link {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}
.dark .nav-link.active {
  color: var(--light-primary);
}

#navTop {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.light .dropdown-menu {
  background-color: var(--light-primary);
}
.dark .dropdown-menu {
  background-color: var(--dark-secondary);
}
.light .dropdown-item {
  background-color: var(--light-primary);
  color: var(--dark-primary);
}
.dark .dropdown-item {
  background-color: var(--dark-secondary);
  color: var(--light-primary);
}
