@import "variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toggle {
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: space-between;
  position: relative;
  transition: 0.8s;
  width: 60px;
}

.toggle i {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 50%;
  z-index: 1;
}

.toggle .ball {
  border-radius: 50%;
  height: 22px;
  margin: 4px;
  position: absolute;
  transition: 0.5s ease-out;
  width: 22px;
}

input {
  display: none;
}

/*    -- Light Mode --      */
.light .toggle {
  background: var(--light-primary);
}
.light .toggle .bxs-sun {
  color: var(--light-primary);
}
.light .toggle .bx-moon {
  color: var(--dark-secondary);
}
.light .toggle .ball {
  background: var(--dark-secondary);
}

/*    -- Dark Mode --       */
.dark .toggle {
  background: transparent;
}
.dark .toggle .bx-sun {
  color: var(--light-primary);
}
.dark .toggle .bxs-moon {
  color: var(--dark-secondary);
}
.dark .toggle .ball {
  background: var(--light-primary);
  transform: translateX(29px);
}

