/*.dark-mode-nav {
  background-color: #393e46;
  color: white;
}*/
/*DARK MODE*/
body.dark,
.dark-body {
  background-color: #222831; /*#121212*/
  color: white;
}

.icono-sol,
.dark-mode-iconUser,
.dark-mode-nav,
.dark-mode-header {
  transition: all 0.75s;
}
.dark #navTop {
  background-color: #303e54;
  color: white;
}
.light #navTop {
  background-color: white;
  color: black;
}
/*.navbar-dark {
  background-color: #303e54;
  color: white;
}

.navbar-light {
  background-color: white;
  color: black;
}*/

.light .dropdown-menu {
  background-color: white;
}
.dark .dropdown-menu {
  background-color: #303e54;
}
.light .dropdown-item {
  background-color: white;
  color: black;
}
.dark .dropdown-item {
  background-color: #303e54;
  color: white;
}
