.btnnn{
color: #45287a;
}
.fade-out {
  animation: fade-out 1s ease-in;
}
.minimized {
  max-height: 3rem;
  overflow: hidden;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*  GENERICO    */
img[alt="www.000webhost.com"] {
  display: none;
}
html {
  scroll-behavior: smooth;
  z-index: 1;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
  align-items: center;
  /*transition: .2s;*/
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

.text-white {
  color: white;
}
nav {
  transition: all 0.5s;
}
main {
  margin-top: 2rem;
}
.main-skills {
  margin-top: 4rem;
}
.main-about {
  margin-top: 6rem;
}
hr {
  border-radius: 7px 7px 7px 7px;
  color: #dee2e6;
  opacity: 1;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  color: inherit;
}

hr:not([size]) {
  height: 6px;
}
/*  CLASES  */
/*Color flecha*/
.button:hover i {
  color: white;
}
.button:nth-child(1):hover .icon {
  background: black;
}
.button:nth-child(2):hover .icon {
  background: black;
}
.button:nth-child(3):hover .icon {
  background: #ff0000;
}
.button:nth-child(4):hover .icon {
  background: #333;
}
/*
.button:nth-child(1){
    color:
}
.button:nth-child(2){
    color:
}
.button:nth-child(3){
    color:
}
.button:nth-child(4){
    color:
}*/
.carousel-item {
  position: relative;
}
.ulclass {
  list-style: none;
  margin: 0;
  padding-left: 7px;
}
.padding-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}
.slider-text {
  /* Como centrar en CSS un elemento con position absolute y sin widtth: 100% */
  color: #fff;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  /* Como centrar en CSS un elemento con position absolute y sin widtth: 100% */
  position: absolute;
  right: 0;
  text-align: center;
  top: 25%;
  width: 60%;
  z-index: 500;
}
/*Style de la barra de desplazamiento
/* Style the header: fixed position (always stay at the top) */
/*.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}
*/
/* The progress container (grey background) */
.progress {
  background-color: transparent;
  bottom: 0;
  height: 3px;
  left: 3%;
  position: absolute;
  right: 3%;
  width: 94%;
}
/* The progress bar (scroll indicator) */
.progress-bar {
  background: #faca2c;
  /*FFC107*/
  width: 0%;
}
.dark-mode-body {
  background-color: #222831; /*#121212*/
  color: white;
}
.dark-mode-nav {
  background-color: #393e46;
  color: white;
}
.vertical-text {
  transform: rotate(270deg);
  transform-origin: left top 0;
}

/*  ID    */

#myHeader {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

#imagen {
  border-radius: 15%;
}
/*
Paleta de colores
2C3333
395B64
A5C9CA
E7F6F2

https://colorhunt.co/palettes/dark
*/
/* custom scrollbar */
/*  Doble dos puntos y no tengo ni puta idea de lo que es   */

/* Style the custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #d6dee1;
  border: 3px solid transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* Container element with scrollable content */
.scrollable-container {
  overflow: auto;
}

/* Show scrollbar when cursor is within 15px of the right edge of the screen */
html:hover .scrollable-container::-webkit-scrollbar {
  width: 10px;
}

.dark-mode-card {
  background: #303e54;
  color: white;
}
.card-about {
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
}
.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-about i {
  line-height: 1.5;
}
.col-about {
  display: flex;
  justify-content: center;
}

.card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  margin-bottom: 1.5em;
  transition: transform 0.2s ease;
}
.card-skill {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card:not(.expanded):hover {
  transform: scale(1.1);
}
.horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
img {
  max-width: 100%;
}
.cv-title h3::after {
  background: #dee2e6;
  border-radius: 7px;
  content: "";
  display: inline-block;
  height: 3px;
  margin: 6px 15px;
  width: 50%;
}
.section-title h4::after {
  background: #dee2e6;
  border-radius: 7px;
  content: "";
  display: inline-block;
  height: 3px;
  margin: 6px 15px;
  width: 160px;
}
.section-title h4::before {
  background: #dee2e6;
  border-radius: 7px;
  content: "";
  display: inline-block;
  height: 3px;
  margin: 6px 15px;
  width: 160px;
}
.section-title {
  align-items: center; /* align elements to the center of the cross axis */
  display: flex;
  justify-content: center;
}
/*  .container {
         align elements to the start of the cross axis
    }
*/
.vr {
  background: #dee2e6;
  border-radius: 7px;
  width: 3px;
}
#special {
  align-items: justify;
  display: flex;
  height: 0px;
}
