/*  GENERICO    */
html {
  scroll-behavior: smooth;
  z-index: 1;
}
body{
    transition:all 0.5s;
}
.text-white{
color: white;
}
nav{
    transition: all 0.5s;
}
main {
    margin-top: 2rem;
}
.main-skills{
    margin-top:6rem;
}
.main-about{
    margin-top:6rem;
}
hr{
    width:100%;
    color:#dee2e6;
    opacity:1;
    border-radius: 7px 7px 7px 7px;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover {
  color: inherit;
  background-color: transparent;
}

hr:not([size]) {
    height: 6px;
}
/*  CLASES  */
/*Color flecha*/
.button:hover i{
    color: white;
}
.button:nth-child(1):hover .icon{
    background: black;
}
.button:nth-child(2):hover .icon{
    background: black;
}
.button:nth-child(3):hover .icon{
    background: #ff0000;
}
.button:nth-child(4):hover .icon{
    background: #333;
}
.button:nth-child(1){
    color:
}
.button:nth-child(2){
    color:
}
.button:nth-child(3){
    color:
}
.button:nth-child(4){
    color:
}
.carousel-item {
    position: relative;
}
.ulclass{
list-style:none;
margin:0;
padding-left:7px;
}
.sombranav {
        box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.navbar{
    width:100%;
    background: #eee;
    margin-top: 0px;
}
.padding-header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}
.slider-text {
    width: 60%;
    text-align: center;
    /* Como centrar en CSS un elemento con position absolute y sin widtth: 100% */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* Como centrar en CSS un elemento con position absolute y sin widtth: 100% */
    color: #fff;
    z-index: 500;
    top: 25%;
}
/*Style de la barra de desplazamiento
/* Style the header: fixed position (always stay at the top) */
/*.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}
*/
/* The progress container (grey background) */
.progress{
    width: 94%;
    height: 3px;
    position: absolute;
    bottom:0;
    left:3%;
    right:3%;
    background-color: transparent;

}
/* The progress bar (scroll indicator) */
.progress-bar {
    background: #FACA2C;
/*FFC107*/
    width: 0%;
}
.dark-mode-body {
    background-color: #222831;/*#121212*/
    color:white;
}
.dark-mode-nav {
    background-color: #393E46;
    color:white;
}
.icono-sol, .dark-mode-iconUser, .dark-mode-nav, .dark-mode-header{
    transition:all 0.75s;
}
.vertical-text {
    transform: rotate(270deg);
    transform-origin: left top 0;
}

/*  ID    */
#btn-back-to-top {
    position: fixed;
    bottom: 37px;
    right: 20px;
    display: none;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
    }
#myHeader{
        box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

#social {
    transition:all 0.75s;
    position: fixed;
    bottom: 20px;
    left: 20px;
}
#imagen{
    border-radius:15%;
}
/*
Paleta de colores
2C3333
395B64
A5C9CA
E7F6F2

https://colorhunt.co/palettes/dark
*/
/* custom scrollbar */
/*  Doble dos puntos y no tengo ni puta idea de lo que es   */

/* Style the custom scrollbar */

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.dark-mode-card{
    color:white;
    background:#303E54;
}
  .card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .card-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .card:hover {
    transform: scale(1.1);
  }
  img {
    max-width: 100%;
  }

  .section-title h4::after {
    content: "";
    width: 180px;
    height: 3px;
    display: inline-block;
    background: #dee2e6;
    margin: 6px 15px;
  }
  .section-title h4::before {
    content: "";
    width: 180px;
    height: 3px;
    display: inline-block;
    background: #dee2e6;
    margin: 6px 15px;
  }
  .section-title{
    display: flex;
            align-items: center;  /* align elements to the center of the cross axis */
            justify-content: center;
  }
  /*  .container {
      display: flex;
      align-items: justify;   align elements to the start of the cross axis
    }
*/