@import "variables.css";

:root {
  --light-primary: #fafafa;
  --light-secondary: #00ff00;
  --dark-primary: #121212;
  --dark-secondary: #1e1e1e;
}
.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container-timeline {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  padding: 0 8% 0 8%;
}

.dot {
  transform-origin: center center;
  align-items: center;
  /*background-color: black;*/
  border-radius: 28px;
  cursor: pointer;
  display: flex;
  height: 28px;
  width: 28px;
  justify-content: center;
  max-height: 28px;
  max-width: 28px;
  min-height: 28px;
  min-width: 28px;
  position: relative;
  transition: all 0.5s ease;
}

.line {
  height: 3px;
  width: 100%;
}

.textdot {
  color: var(--dark-primary);
  position: absolute;
  text-align: left;
  top: -40px;
}
.dark .textdot {
  color: var(--light-primary);
}

.dot.bigger {
  transform: scale(1.5);
}
.dot.bigger .textdot {
  top: -30px;
}
.bold {
  font-weight: bold;
}
.dark .primary {
  background-color: var(--light-primary);
}
.dark .primary-dark {
  background-color: grey;
}
.dark .primary .icon {
  color: var(--dark-primary);
}
.dark .primary-dark .icon {
  color: var(--dark-primary);
}

.dark .primary .line {
  background-color: var(--light-primary);
}
.dark .primary-dark .line {
  background-color: grey;
}

/**/

.primary {
  background-color: var(--dark-primary);
}
.primary-dark {
  background-color: lightgray;
}
.hide {
  display: none !important;
}

.dot > .fas,
.dot > .fa-brands,
.dot > .bx,
.dot > .fa {
  color: var(--light-primary);
}
.dot > .bx {
  transform: scale(1.2);
}

#cardTimeline {
  align-items: center;
  border: 1px solid lightgray;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  display: flex;
  flex: 1 0 18%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.5em;
  max-width: 100%;
  transition: transform 0.5s ease;
  width: 100%;
}
.dark #cardTimeline {
  background-color: var(--dark-secondary);
  transition: transform 0.5s ease;
}

.icon {
  transform: scale(0.9);
}
